<!-- Sidebar -->
<div class="sidebar">
    <div class="sidebar-header">
        <img src="/static/assets/logo.png" alt="Synvotra Logo" class="company-logo">
        <h2>Synvotra</h2>
    </div>
    <ul class="sidebar-menu">
        <li>
            <a id="dashboard-link">
                <i class="material-icons">dashboard</i>
                <span>Dashboard</span>
            </a>
        </li>
        <li>
            <a id="trutime-link">
                <i class="material-icons">access_time</i>
                <span>TruTime</span>
            </a>
        </li>
        <li>
            <a id="leave-link">
                <i class="material-icons">event</i>
                <span>Leave</span>
            </a>
        </li>
        <li>
            <a  id="referrals-link">
                <i class="material-icons">person_add</i>
                <span>Referrals</span>
            </a>
        </li>
        <li>
            <a  id="performance-link">
                <i class="material-icons">assessment</i>
                <span>Performance</span>
            </a>
        </li>
        <li>
            <a  id="calendar-link">
                <i class="material-icons">calendar_today</i>
                <span>Calendar</span>
            </a>
        </li>
        <li>
            <a  id="support-link">
                <i class="material-icons">support</i>
                <span>Support</span>
            </a>
        </li>
        <li>
            <a href="/policy" id="info-link">
                <i class="material-icons">info</i>
                <span>Inside-Synvotra</span>
            </a>
        </li>
        <!-- Only Admin should be able to view this option -->
        <li class="admin-only">
            <a  id="employee-profiles-link">
                <i class="material-icons">group</i>
                <span>View Employee Profiles</span>
            </a>
        </li>
        <li>
            <a href="/employee-dashboard" id="profile-link">
                <i class="material-icons">account_circle</i>
                <span>View Profile</span>
            </a>
        </li>
        <li>
            <a href="/admin-view" id="profile-link">
                <i class="material-icons">account_circle</i>
                <span>Admin Panel</span>
            </a>
        </li>
        <li>
            <a id="logout-link">
                <i class="material-icons">exit_to_app</i>
                <span>Logout</span>
            </a>
        </li>
    </ul>
</div>